body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

#wrapper {
    max-width: 1920px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

img {
    max-width: 100%;
}

input {
    &::focus {
        outline: -webkit-focus-ring-color auto 0px !important;
    }
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

a {
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    &:hover {
        text-decoration: none;
    }
}

.text-center {
    text-align: center;
}

.animated {
    -webkit-animation-fill-mode: backwards;
}

.bannerTop {
    background-size: auto;
    height: 600px;
    background-position: top;
    background-repeat: no-repeat;
}

.wrap_block_1 {
    padding: 50px 0;
    padding-bottom: 0;

    .block-flex {
        display: flex;
        align-items: center;

        .col-flex {
            width: 50%;
            padding: 20px;
        }

        .img-thumbail {
            text-align: right;
            padding-bottom: 0;
        }
    }
}

.wrap_block_2 {
    padding: 50px 0;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .heading {
        font-size: 22px;
        margin-bottom: 40px;
        color: #fff;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 32%;
            height: 3px;
            background: #f48801;
            bottom: -10px;
        }
    }

    .content-images {
        padding: 30px 0 60px;
        display: flex;
        justify-content: center;
        text-align: center;

        img {
            margin: 0 35px;
            width: 20%;
        }
    }

    .content-text {
        .item {
            padding: 15px;
            border: 3px solid #fff;
            margin-bottom: 30px;
            border-radius: 10px;
            color: #fff;
            min-height: 325px;

            h3 {
                font-size: 18px;
                font-weight: 700;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                margin-bottom: 10px;
                line-height: 1.4;
            }

            p {
                font-size: 16px;
                line-height: 1.6;
            }

            &.item-6 {
                min-height: 225px;
            }
        }
    }
}

.wrap_block_3 {
    padding: 50px 0;

    .block-flex {
        display: flex;
        align-items: center;

        .flex-col {
            width: 50%;
        }
    }

    .thongso-content {
        padding: 20px 40px;

        .thongso-title {
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;

            svg {
                width: 40px;
                margin-right: 5px;
            }
        }
    }

    .thongso-list {
        padding: 0;
        padding-left: 15px;

        li {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }
}

.wrap_block_4 {
    .title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin: 90px auto;
        width: 90%;
        line-height: 1.5;
    }
}

.wrap_block_5 {
    padding: 50px 0 70px;
    padding-top: 100px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .chedobaohanh {
        list-style: none;
        padding-left: 0;

        li {
            padding: 35px;
            border-radius: 20px;
            margin: 40px 0;
            background: #C9D6FF;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


            h3 {
                font-weight: 600;

            }

            p {
                font-size: 18px;
                line-height: 1.4;
                margin: 0;
            }
        }
    }

}

.wrap_block_6 {
    .block-flex {
        display: flex;

        .item-img {
            border: 1px solid #fff;
            width: 33.33%;
        }
    }

    .hm-responsive {
        position: relative;
        height: auto !important;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;

        img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.wrap_block_7 {
    padding: 60px 0;

    .title {
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
    }

    .item {
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;

        .hm-responsive {
            position: relative;
            height: auto !important;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;

            img {
                object-fit: cover;
                margin: auto;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

.form-buynow {
    .widget-content {
        text-rendering: unset !important;
        width: 90%;
        height: 100%;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
        display: inline-block;
        letter-spacing: 0;
        background-color: white;
        color: black;
        min-height: 555px;
        box-shadow: 0px 0px 17px -5px #737373;
        border-radius: 20px;
        position: relative;
        padding: 20px;

        .widget-element {
            .price-sale {
                position: absolute;
                margin: auto;
                width: 60%;
                font-size: 37px;
                font-weight: bold;
                background: red;
                padding: 10px 10px 5px;
                border-radius: 40px;
                color: #fff;
                text-align: center;
                top: -32px;
                left: 0;
                right: 0;
                z-index: 1;
            }

            .price-product {
                font-size: 24px;
                background: #e4e4e4;
                width: 43%;
                text-align: center;
                padding: 4px 10px;
                border-radius: 40px;
                position: absolute;
                z-index: 2;
                top: -62px;
                left: 0;
                right: 0;
                margin: auto;
                text-decoration: line-through;
                font-weight: 700;
            }
        }

        .widget-body {
            padding-top: 20px;

            .heading {
                font-size: 22px;
                text-align: center;
                margin: 20px;
                line-height: 1.3;
                FONT-WEIGHT: 600;
            }
        }

        .widget-form {
            padding-top: 20px;

            input,
            select {
                height: 55px;
                width: 100%;
                border-color: #dcdcdc;
                border-radius: 5px;
                padding: 15px;
                color: #6b6b6b;
                font-size: 16px;
            }

            .btn-buynow {
                background: red;
                color: #fff;
                font-size: 24px;
                width: 70%;
                margin: auto;
                margin-top: 20px;
            }
        }
    }
}

.footer {
    background-size: auto;
    height: 600px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    text-align: center;

    .text {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;
        font-size: 36px;
        width: 37%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .bannerTop {
        background-size: 1000px;
        height: 300px;
        background-position: -180px 0px;
        background-repeat: no-repeat;
    }

    .wrap_block_1 .block-flex {
        display: flex;
        align-items: center;
        flex-direction: column;

        .col-flex {
            width: 100%;
        }
    }

    .form-buynow {
        margin-top: 30px;

        .widget-content {
            width: 100%;
        }
    }

    .wrap_block_4 {
        .title {
            margin-top: 20px;
            font-size: 22px;
        }
    }
    .wrap_block_5{
        padding-top: 10px;
        .form-buynow{
            margin-top: 60px;
        }
    }
    .footer {
        height: 300px;
        .text {
            width: 60%;
        }
    }    
}

@media (max-width: 768px){
    .container {
        max-width: 690px;
    }
}

@media (max-width: 576px){
    .wrap_block_3{
        .block-flex{
            flex-direction: column;
            .flex-col{
                width: 100%;
            }
        }
    }
    .wrap_block_4 {
        .title {
            margin-top: 20px;
            font-size: 16px;
            margin-bottom: 40px;
        }
    }
    .wrap_block_5 {
        .chedobaohanh {
            li {
                padding: 15px;
                h3{
                    font-size: 20px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }

    .wrap_block_7 {
        .title {
            font-size: 24px;
            margin-bottom: 35px;
        }
    }

    .footer {
        height: 175px;
        .text{
            width: 85%;
            font-size: 22px;
        }
    }
}